<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.nicolassmith.urlevaluator"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="15" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" 
        android:allowBackup="false">
        <activity
            android:name=".UrlEvaluatorActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" android:host="goo.gl" />
                <data android:scheme="http" android:host="bit.ly" />
                <data android:scheme="http" android:host="m.google.com" />
                <data android:scheme="http" android:host="g.co" />
                <data android:scheme="http" android:host="tinyurl.com" />
            </intent-filter>
        </activity>
    </application>

</manifest>